header {
    color: white;
    background-color: purple;
    font-family: "Roboto", serif;
    font-weight: 100;
}
.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
}
nav a {
    display: none;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", serif;
    font-weight: 400;
}
img {
    height: 350px;
}
a:hover {
    color: #000;
    background-color: #eee;
    text-decoration: underline double;
}
.active {
    color: yellow;
}
footer {
    background-color: purple;
    color: white;
    text-align: center;
}
#menu {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    font-size: 3rem;
    border: 0;
}
#menu::before {
    content: "≡";
}
#menu.open::before {
    content: "X";
}
.open a {
    display: block;
}
main {
    font-family: "Roboto", serif;
    font-weight: 400;
}